extends interface.pug

block contenu
    .conteneur
        .row
            .col-lg-12
            -var bienvenue = "Bienvenue "+ artiste +" dans l'interface de gestion du captcha";
            h1=bienvenue
            
