html
  head
    title Capchat  
    link(rel='stylesheet' href='/bootstrap/bootstrap.css')
    link(rel='stylesheet' href='/css/perso.css')

    block scripts
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')
      script(src='/js/perso.js')
  body
    block content
    block foot
      #footer